.layout-header {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout-user {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
}

.hamburger {
  display: none;
  font-size: 1.25rem;
  padding: 0.5rem;
}
