.layout-sidebar {
  padding: 0 1rem;
  height: 100vh;
}

.layout-sidebar .ant-menu-item {
  padding: 0 12px !important;
  height: 32px;
}

.layout-content {
  max-height: 100vh;
  overflow-y: auto;
}

.page-content {
  padding: 1.5rem;
  overflow: auto;
}
